@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #c9c5bd;
  color: #171717;
  font-family:
    Arial,
    Helvetica,
    sans-serif;
}

button {
  font-family: inherit;
}

::selection {
  background: #171717;
  color: #c9c5bd;
}